/* Navigation Bar
 ========================================================================== */

//  I believe i finally understand how this works and how i would
//  make this if i wanted to. It wasn't worth it.
//  Please ignore what's down there, it's a horrible mess and none of it
//  is worth your or anyone's time and attention, and you, and anyone else
//  who dares examine this code will become considerably dumber after
//  trying to unravel this abomination of a stylesheet.

.navbar {
    height: 7vh;
    position: relative;
    border: 1px solid $smoky-black;

    &__brand {
        height: 100%;
        width: 7vh;
        background-color: $smoky-black;
        color: $white;
        display: flex;
        justify-content: center;
        align-items: center;

        > span {
            padding-top: 3px;
            transition-duration: 0.3s;
            cursor: default;
            font-family: $old-standard;
        }
    }

    .collapsible {
        text-align: right;

        label {
            display: block;
            padding-top: 0.5em;
            padding-bottom: 0.5em;
            padding-right: 1.5em;
            font-size: 1.8rem;
        }

        input#menu {
            display: none;
        }
    }

    input:checked ~ &__container {
        min-height: 100%;
        position: absolute;
        overflow: visible;
        transition-duration: 0.5s;
        background: $white cover;
        z-index: 2;
    }

    &__container {
        width: 80%;
        max-height: 0;
        padding: 0;
        overflow: hidden;
        transition-duration: 0.5s;
    }

    &__list {
        list-style-type: none;
    }

    &__item {
        a {
            display: block;
            text-align: right;
            padding: 0.5em;
            text-decoration: none;
            font-size: 1.2rem;
            font-weight: $regular;

            &:hover {
                color: $quick-silver;
            }
        }
    }
}

@media (min-width: map-get($breakpoints, md)) {
    .navbar {
        &__brand {
            top: 1em;
            left: 3em;

            > span {
                transform: rotate(-90deg);
            }
        }

        .collapsible {
            label {
                display: none;
            }
        }

        &__container {
            min-height: 100%;
            padding: 0.5em 3em 0.5em 0;
            overflow: visible;
        }

        &__list {
            display: flex;
            justify-content: end;
            margin: inherit;
            padding: inherit;
        }

        &__item {
            a {
                padding: 0.5em 1em;
                font-size: 1rem;
                font-weight: $bold;
            }
        }
    }
}
