/* Grid
    ================================================================================ */

    .row {
        display: grid;
        grid-template-columns: repeat(12, 1fr);

        @for $i from 1 through 12 {
            .col-#{$i} {
                grid-column: span $i;
            }
        }
        @each $breakpoint, $value in $breakpoints {
            @for $i from 1 through 12 {
                .col-#{$breakpoint}-#{$i} {
                    grid-column: span $i;
                }
            }
        }
    }